@tailwind base;
@tailwind components;
@tailwind utilities;

/* Paleta base */
:root {
  --background: #ffffff;
  --foreground: #111827;
  --accent: #facc15; /* amarillo */
  --accent-soft: #fef9c3;
  --accent-foreground: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #e5e7eb;
    --accent: #facc15;
    --accent-soft: #4b5563;
    --accent-foreground: #111827;
  }
}

body {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  letter-spacing: -0.03em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
